section {
	flex: 1;
	display: flex;
	flex-direction: column;
	place-items: center;
	position: relative;
}

.tasks-list {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 30px;
}

.tasks-list-wrapper {
	width: 50%;
	transition: transform 400ms linear;
}

@media (width < 1700px) {
	.tasks-list-wrapper {
		width: 60%;
	}
}

@media (width < 1060px) {
	.tasks-list-wrapper {
		width: 70%;
	}
}

@media (width < 750px) {
	.tasks-list-wrapper {
		width: 90%;
		padding-left: 50px;
	}
}

@media (width < 450px) {
	.aside-closed {
		padding-left: 40px;
	}
}
