:is(.dialog, .dialog-mobile) {
	position: fixed;
	will-change: transform;
	inset: calc(var(--header-height) - 2.5rem) 0 0 0;
	display: grid;
	place-items: center;
	transition: opacity 250ms ease-in-out;
	z-index: 4;
}

.dialog {
	background-color: rgba(255, 255, 255, 0.295);
}

.dialog-mobile {
	background: var(--bg-c);
}

.form-wrapper {
	background-color: #f7cacd;
	border-radius: 10px;
}

:is(.form-wrapper-mobile, .form-wrapper) {
	padding: 3rem;
	width: clamp(320px, 30%, 900px);
}

form {
	display: flex;
	flex-direction: column;
	position: relative;
}

form :is(div):not(.info) {
	color: red;
	font-size: 0.9rem;
}

.info {
	text-align: center;
}

.max-char-count {
	margin-top: 10px;
}

form label {
	margin-top: 10px;
}

input,
textarea {
	font-family: Quicksand;
	border: none;
	border-radius: 2px;
	padding: 10px 20px;
	box-shadow: 5px 5px var(--shadow-color);
}

.submit-btn {
	margin-top: 40px;
	border-radius: 2px;
	padding: 10px 20px;
}

.error {
	height: 1.2rem;
}

.close-btn {
	position: absolute;
	top: 0;
	right: -1rem;
	font-size: 2rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
