.toolbar {
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.btn {
	background-color: var(--button-c);
	border: none;
	box-shadow: 2px 2px 2px var(--shadow-color);
	cursor: pointer;
}

.add-task-btn {
	--size: 45px;
	width: var(--size);
	height: var(--size);
	font-size: 1.5rem;
	border-radius: 50%;
}

.active-btn:active {
	background-color: hsl(25, 97%, 38%);
	box-shadow: inset 4px 4px var(--shadow-color);
}
