.main-view {
	flex: 1;
	display: flex;
	position: relative;
	overflow-x: hidden;
	padding-bottom: var(--bottom-padding);
}

.hamburger-icon {
	position: fixed;
	left: 15px;
	top: calc(var(--header-height) + 15px);
	width: 40px;
	z-index: 2;
}

@media (width < 450px) {
	.hamburger-icon {
		width: 30px;
	}
}
