.dialog {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.295);
	inset: 0;
	display: grid;
	place-items: center;
	transition: opacity 250ms ease-in-out;
}

.form {
	background-color: #f7cacd;
	padding: 3rem;
	border-radius: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

form :is(div):not(.info) {
	color: red;
	font-size: 0.9rem;
}

.info {
	text-align: center;
}

form label {
	margin-top: 10px;
}

input {
	border: none;
	border-radius: 2px;
	padding: 10px 20px;
	box-shadow: 5px 5px var(--shadow-color);
}

.submit-btn {
	margin-top: 40px;
	border-radius: 2px;
	padding: 10px 20px;
}

.error {
	height: 1.2rem;
}
