.toolbar {
	width: 50%;
	margin-top: 4rem;
	display: flex;
	color: black;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.add-task-btn {
	--size: 45px;
	width: var(--size);
	height: var(--size);
	font-size: 1.5rem;
	background-color: #fde74c;
	border: none;
	border-radius: 50%;
	box-shadow: 4px 4px var(--shadow-color);
	cursor: pointer;
}

.add-task-btn:active {
	box-shadow: inset 2px 2px var(--shadow-color);
}
