:root {
	--header-height: 4.5rem;
	--bottom-padding: 4.5rem;
	--shadow-color: hsla(0, 0%, 14%, 0.84);
	--button-c: #cc5803;
	--bg-c: linear-gradient(to bottom, #f3bdc1 10%, #f7cacd 30% 70%, #f3bdc1 90%);

	font-family: Poppins;
	line-height: 1.5;
	font-weight: 400;

	background: var(--bg-c);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

p {
	font-family: Quicksand;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.no-scroll {
	overflow: hidden;
}

body {
	height: 100%;
}

ul {
	list-style: none;
}

@media (width <= 375px) {
	:root {
		--header-height: 6.5rem;
	}
}
