:root {
	--shadow-color: hsla(0, 0%, 14%, 0.84);
	--button-c: #cc5803;

	font-family: Poppins;
	line-height: 1.5;
	font-weight: 400;

	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

p {
	font-family: Quicksand;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
}
